.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flex-container {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
}

.item {
  flex: 1;
  position: relative;
}

/* media query */

@media only screen and (max-width: 600px){
  .flex-container {
    display: block;
  }
}

.title {
  background-color: #222;
  color: #fff;
  width: 100%;
  z-index: 1;
  opacity: 0;
  position: absolute;
  bottom: 0; 
  height: 0;
  transition: 1.5s; 
  overflow: hidden; 
}

.item:hover .title{
  opacity: 1;
  height: 15%;
}